
/* WHO WE ARE */

section#who-we-are {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

.who-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    
}
.slider-wrapper::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(24,24,24,0.75);
}
.slider {
    /* position: relative; */
    text-align:  left;
    border:inherit;
    height: 290px;
    color: white;
    /* width: 1200px; */
    background: url('./images/design-gray.jpg');
    background-size: cover;
}
.slider h3 {
    position: relative;
    font-size: 44px;
    text-transform: uppercase;
    left: 100px;
    top: 43%;
    margin: 0;
}
.slider .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin: 0;
    top: 50%; left: 5%;
}
.slider .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0;
    top: 50%; right: 5%;
}

 
.green-box {
    background-color: #b2d237;
    padding: 110px 55px;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    color: white;
    line-height: 1;
    display: inline;
}
.gray-box {
    background-color: #2f2f35;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    color: white;
    line-height: 1;
    display: inline;
    padding: 65px 60px;
}
.author {
    font-size: 16px;
    margin-left: 200px;
}

#who-we-are p {
    margin: 100px auto;
    /* width: 700px; */
    line-height: 26px;
}

.grid-top {
     display: flex;
     padding-top: 15px;
     padding-bottom: 15px;
}
.pi-style {
    display: grid;
    grid-template-columns: 340px 340px; 
    grid-template-rows: 380px 525px;
    grid-gap: 15px;
    margin-right: 15px;
}
.pi-top {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.team {
    background: url('./images/people-2557399_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.fun {
    background: url('./images/student-849822_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pi-bottom-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.design {
    background: url('./images/pexels-jess-bailey-designs-1764436.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(25%);
}
.ux {
    background: url('./images/ux-787968_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pi-bottom-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.parrot {
    background: url('./images/parrot-812341_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.consulting {
    background: url('./images/startup-594090_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.three-stacked {
    display: grid;
    width: 490px;
    height: 890px;
    grid-template-columns: 490px;
    grid-template-rows: 296.299px 296.299px 296.299px;
    grid-gap: 15px;
}
.grid-bottom .three-stacked {
    margin-right: 15px;
}
.grid-bottom .pi-style {
    margin-right: 0px;
}
.three-top {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
.chillax {
    background: url('./images/computer-1185569_1280.jpg');
    background-size: cover;
}
.three-middle {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}
.playing {
    background: url('./images/student-849828_1280.jpg');
    background-size: cover;
}
.three-bottom {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}
.concentration {
    background: url('./images/student-849824_1280.jpg');
    background-size: cover;
}
.grid-bottom {
    margin-bottom: 15px;
     display: flex;
}
@media (max-width: 400px) {
    section#who-we-are {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .who-wrapper {
    }
    
    .slider-wrapper {
        position: relative;
        
    }
    .slider-wrapper::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(24,24,24,0.75);
    }
    .slider {
        /* position: relative; */
        text-align:  left;
        border:inherit;
        height: 290px;
        color: white;
        /* width: 1200px; */
        background-size: cover;
    }
    .slider h3 {
        position: relative;
        font-size: 44px;
        text-transform: uppercase;
        left: 100px;
        top: 43%;
        margin: 0;
    }
    .slider .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin: 0;
        top: 50%; left: 5%;
    }
    .slider .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin: 0;
        top: 50%; right: 5%;
    }
    
     
    .green-box {
        background-color: #b2d237;
        padding: 0;
        text-align: left;
        font-size: 36px;
        font-weight: 400;
        color: white;
        line-height: 1;
        display: inline;
        width: 340px;
    }
    .gray-box {
        background-color: #2f2f35;
        text-align: left;
        font-size: 36px;
        font-weight: 400;
        color: white;
        line-height: 1;
        display: inline;
        /* padding: 65px 60px; */
    }
    .author {
        font-size: 16px;
        margin-left: 0;
    }
    
    #who-we-are p {
    }
    
    .grid-top {
        display: flex;
        flex-direction: column;
    }
    .pi-style {
        display: flex;
        flex-direction: column;
        width: 340px;
    }
    .pi-top {
    }
    .team, .design, .consulting {
        width: 340px;
    }
    .team {
    }
    .fun {
    }
    .pi-bottom-left {
        
    }
    .design {
         
    }
    .ux {
    }
    .pi-bottom-right {
    }
    .parrot {
    }
    .consulting {
    }
    .three-stacked {
        display: flex;
        flex-direction: column;
        width: 340px;
    }
    .grid-bottom .three-stacked {
    }
    .grid-bottom .pi-style {
        width: 340px;

    }
    .three-top {
     /* width: 100%;     */
    }
    .chillax {
         
    }
    .three-middle {
     
    }
    .playing {
         width: 340px;
    }
    .three-bottom {
         
    }
    .concentration {
        
    }
    .grid-bottom {
        
    }


}